/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    min-height: 650px;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

jw-modal {
    display: none;
}

jw-modal .jw-modal {
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    height: calc(100% - 140px);
    left: 0;
    z-index: 1000;
    overflow: auto;
}

jw-modal .jw-modal .jw-modal-body {
    padding: 20px;
    background: #fff;
    padding: 40px;
    height: 100%;
}

jw-modal .jw-modal-background {
    position: fixed;
    top: 80px;
    height: calc(100% - 140px);
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(245, 245, 245);
    opacity: 0.75;
    z-index: 900;
}

body.jw-modal-open {
    overflow: hidden;
}

#playlist-dialog .jw-modal {
    z-index: 2001;
}

#playlist-dialog .jw-modal-background {
    z-index: 2000;
}
