<site-menu>
    <loader *ngIf="isAudiosIsLoading"></loader>
    <div class="audio-search">
        <div>
            <input class="search-input" #search (keyup)="onKeyUp(search.value)"/>
        </div>
        <div infinite-scroll
            class="audios-search-block" 
            [infiniteScrollDistance]="2" 
            [infiniteScrollThrottle]="100" 
            (scrolled)="onScrollDown()"
            [scrollWindow]="false">
            <div *ngFor="let audio of audios">
                <search-audio [id]="audio.id" [artist]="audio.artist" [song]="audio.song" [duration]="audio.duration" (onSelectAudio)="selectAudio($event)">
                </search-audio>        
            </div>
        </div>  
    </div>
    <jw-modal id="audio-playlist-dialog">
        <!-- class="playlist-dialog" -->
        <div class="playlists">
            <div class="add-to-playlist-error" *ngIf="isAddToPlaylistError">
                {{addToPlaylistError}}
            </div>
            <div *ngFor="let playlist of _playlists">
                <div class="playlist-row">
                    <div>
                        {{playlist.title}}
                    </div>
                    <button class="add-to-playlist-button" (click)="addToPlaylist(playlist.id)"></button>
                </div>
            </div>
        </div>
    
        <div class="close-btn-footer">
            <button class="close-btn" (click)="closePlaylistDialog()">Close</button>
        </div>

    </jw-modal>
</site-menu>

